.user-item {
  display: flex;
  justify-content: space-between;
  width: 390px;
  
}

.user-item__text {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 80%;
  text-decoration: none;
  color: black;
}

.user-item__delete {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 15%;
  text-decoration: none;
  color: black;
}
